<!-- navbar -->
	<div class="sticky-nav-top">
		<!-- <nav class="navbar navbar-dark bg-primary"> -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <a class="navbar-brand text-warning" href="#">Jordan Events</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarColor01">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/allEvents">Events</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/loginUser" ng-show="model.loggedUser.userType !== 'user'">Login User</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/loginMaker" ng-show="model.loggedMaker.userType !== 'maker'">Login Maker</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#" ng-click="logoutUser()" ng-show="model.loggedUser.userType === 'user'">Logout User</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" ng-click="logoutMaker()" href="#" ng-show="model.loggedMaker.userType === 'maker'">Logout Maker</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/userProfile" ng-show="model.loggedUser.userType === 'user'">User Profile</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/makerProfile" ng-show="model.loggedMaker.userType === 'maker'">Maker Profile</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/contact">Contact</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/about">About</a>
	      </li>
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="text" placeholder="Search">
	      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
	</nav>
		

	</div>
	</div>



<!--  end of the nav bar -->





<div class="container aws-margin10">
	<div class="jumbotron" >
	  <h1 class="display-3">User Login</h1>
	  <hr class="my-4">
	  <form>
	  	<fieldset>
		      <div nd-show="model.error" class="text-danger">{{model.error}}</div>
			  <div class="form-group">
		      	<label for="email">Email address</label>
		      	<input type="email" 
		      			class="form-control" 
		      			id="email" 
		      			aria-describedby="emailHelp" 
		      			placeholder="Enter email" 
		      			ng-model="model.user.email">
		      	<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	    	</div>
	    	<div class="form-group">
		      	<label for="password">Password</label>
		      	<input type="password" 
		      					class="form-control" 
		      					id="password" 
		      					placeholder="Password" 
		      					ng-model="model.user.password">
	    	</div>
	  	
	  		<button type="submit" class="btn btn-success" ng-click="model.loginSubmit(model.user)">Login</button>
	  		<a class="btn btn-warning" href="#!/registerUser" role="button">Register</a>
	  	</fieldset>
	  </form>
	</div>
</div>