
	<div class="container aws-margin10">
			<h1> Welcome to Jordan Events....</h1>
		<div class="row">
			<div class="col-lg-4 col-xs-10 aws-margin0">
				<div class="card border-success mb-3" style="max-width: 20rem;">
				  <div class="card-header">Show Events</div>
				  <div class="card-body">
				    <h4 class="card-title">Available events</h4>
				    <p class="card-text">Navigate to the current available events, then you can login or subsicribe to participate to a particular event.</p>
				    <a href="#!/allEvents" class="btn btn-success">Surf events</a>

				  </div>
				</div>
			</div>
			<div class="col-lg-4 col-xs-10 aws-margin0">
				<div class="card border-warning mb-3" style="max-width: 20rem;">
				  <div class="card-header">Login / register</div>
				  <div class="card-body">
				    <h4 class="card-title">To participate</h4>
				    <p class="card-text">Login or register to participate to the available events directly.</p>
				    <a href="#!/loginUser" class="btn btn-warning">Login as User</a>
				  </div>
				</div>
			</div>
			<div class="col-lg-4 col-xs-10 aws-margin0">
				<div class="card border-info mb-3" style="max-width: 20rem;">
				  <div class="card-header">For makers</div>
				  <div class="card-body">
				    <h4 class="card-title">Login as makers</h4>
				    <p class="card-text">Login as event maker then you can manage an existing event or create new one.</p>
				    <a href="#!/loginMaker" class="btn btn-info">Login as Maker</a>
				  </div>
				</div>
			</div>
		</div>
		
	</div>
