<div class="container aws-margin10">
	<h1>All available events</h1>
	<hr class="my-3">
	<div class="container">
		<div class="row">
			<div class="card border-success col-xl-4 aws-margin0" ng-repeat='event in model.eventsList' style="max-width: 20rem;">
			  <div class="card-header text-danger"><h3>{{event.name}}</h3></div>
			  <div class="card-body">
			    <h5 class="card-title">Category: {{event.category}}</h5>
			    <h5 class="card-title">Sub-Category: {{event.subcategory}}</h5>
			    <p class="card-text">Details: {{event.details}}</p>
			    <a href="#!/allEvents/{{event.eventId}}" class=" btn btn-default pull-right">More details...</a>
			  </div>
			</div>
		</div>
	</div>
</div>