


<!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html"><img class="menu-logo" src="./img/logo/joeLogo.png"> </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#!/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="#!/allEvents">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/login" ng-show="!model.loggedMaker">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" ng-click="model.logout()" ng-show="model.loggedMaker">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/profile" ng-show="model.loggedMaker">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<!-- /Navigation -->


<div class="container aws-margin10">
	<h1 class="text-danger">Event details:</h1>
	<hr>

	<!-- <div class="alert alert-danger" role="alert" ng-show="model.error1">
  		<p>{{model.error1}}</p>
  		<a href="#!/login" class="alert-link">Login / Register</a>
	</div> -->
	<!-- <div class="alert alert-danger" role="alert" ng-show="model.error2">
  		<p>{{model.error2}}</p>
	</div> -->
	

	<!-- Event Image -->
  <img class="img-fluid rounded mb-4" ng-src="{{model.eventDetails.images.img1200x300}}" alt="">
  <h3>Event Name: </h3>
	<p>{{model.eventDetails.name}}</p>
	<h3>Event Category: </h3>
	<p>{{model.eventDetails.category}}</p>
	<h3>Event Sub-Category: </h3>
	<p>{{model.eventDetails.subcategory}}</p>
	<h3>Event Details: </h3>
	<p>{{model.eventDetails.details}}</p>
	<h3>Start date: </h3>
	<p>{{model.eventDetails.startingDate | date}}</p>
	<h3>End date: </h3>
	<p>{{model.eventDetails.expiryDate | date}}</p>
  <h3>Event Address: </h3>
  <p>{{model.eventDetails.address}}</p>
  <h3>Members:</h3>
  <!-- <a href="#!/makerProfile/countAttendance" class="btn btn-success">Count Attendances</a> -->
  <div class="form-group row">
    <div class="col-sm-5">
      <label for="searchMember" class="text-danger" style="display: inline;"><h4>Search members:</h4></label>
      <input type="text" class="form-control" name="searchMember" id="searchMember" ng-model="searchMember">
    </div>
  </div>
  <table>
    <thead class="bg-warning">
      <th>Name</th>
      <th>Payments</th>
      <th>Balance</th>
      <th>Make a payment</th>
      <th>Payments details</th>
      <th>Attendance</th>
    </thead>
    <tr ng-repeat="user in model.eventDetails.registeredMembers | filter: searchMember">
      <td>{{user.name.firstName}} {{user.name.lastName}}</td>
      <td>
        {{model.getTotals(user, model.eventDetails._id).eventId.total}}
      </td>
      <td>
        {{model.getTotals(user, model.eventDetails._id).eventId.balance}}
      </td>
      <td>
    
    <!-- Make a payment Modal -->
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#makePaymentModal-{{$index}}">Pay</button>

          <div class="modal fade" id="makePaymentModal-{{$index}}" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                  <h5 class="modal-title">Make a payment</h5>
                </div>
                <div class="modal-body">
                  <form>
                    <input type="date" name="dateOfpayment" ng-model="payment.dateOfpayment">
                    <input type="text" name="amount" ng-model="payment.amount">
                    <input type="submit" name="makePayment" ng-click="model.makePayment(user._id, model.eventDetails._id, payment)" data-dismiss="modal">
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>
      </td>
    <!-- end of Make a payment modal -->


    <!-- Payment Details modal -->
      <td>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#paymentsModal-{{$index}}">Deatils</button>

          <div class="modal fade" id="paymentsModal-{{$index}}" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                  <h5 class="modal-title">Payments details</h5>
                </div>
                <div class="modal-body">
                  <table>
                    <thead>
                      <th>Amount</th>
                      <th>Date</th>
                    </thead>
                    <tr ng-repeat="payment in user.payments | filter: model.eventDetails._id">
                      <td>{{payment.paymentAmount}}</td>
                      <td>{{payment.paymentDate | date}}</td>
                    </tr>
                  </table>
                  <h5><b>Total payments:</b> {{model.getTotals(user, model.eventDetails._id).eventId.total | currency:"JOD "}}</h5>
                  <h5><b>Balance:</b> {{model.getTotals(user, model.eventDetails._id).eventId.balance | currency:"JOD "}}</h5>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>
      </td>
    <!-- end of payments details modal -->

    <td>
      <!-- <button type="button" class="btn btn-info" ng-click="model.makeAttendance(user._id, model.eventDetails._id)">Attend</button> -->
      
      <label class="switch">
        <input type="checkbox" ng-model="model.attend[user._id]">
        <span class="slider round"></span>
      </label>



    </td>
    </tr>

    <!-- footer -->
    <tr>
      <td>{{model.eventDetails.registeredMembers.length}}</td>
      <td>{{model.grandTotalPayments}}</td>
      <td>{{ model.grandTotalPayments - model.eventDetails.registeredMembers.length * model.eventDetails.price}}</td>
      <td></td>
      <td></td>
      <!-- <td><button class="btn btn-success" ng-click="model.makeAttendance(user._id, model.eventDetails._id)">Attendance</button> </td> -->
      
      <!-- Attendance Modal -->
      <td><button class="btn btn-success" ng-click="model.countAttendance(model.attend)" data-toggle="modal" data-target="#makeAttendanceModal">Attendance</button> </td>


      <div class="modal fade" id="makeAttendanceModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                  <h5 class="modal-title">Calculate Attendance</h5>
                </div>
                <div class="modal-body">
                  <!-- <form>
                    <input type="date" name="dateOfpayment" ng-model="payment.dateOfpayment">
                    <input type="text" name="amount" ng-model="payment.amount">
                    <input type="submit" name="makePayment" ng-click="model.makePayment(user._id, model.eventDetails._id, payment)" data-dismiss="modal">
                  </form> -->
                  <h5>Registered members: {{model.eventDetails.registeredMembers.length}}</h5>
                  <h5>Attended members: {{model.attendedM}}</h5>
                  <h5>Missed members: {{model.eventDetails.registeredMembers.length - model.attendedM}}</h5>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" ng-click="model.confirmAttendance(model.attendanceArray)" data-dismiss="modal">Confirm</button>
                </div>
              </div>
              
            </div>
          </div>
          <!-- end of Attendance Modal -->


    </tr>
  </table>


<!-- {{model.attendanceArray}} -->
  
	<br>

	
	<a href="#!/makerProfile" class="btn btn-lg btn-danger">Cancel</a>

</div>