<div>
	<h1>register an event maker</h1>

</div>

<div class="container">
	<div class="jumbotron" >
	  <h1 class="display-3">Maker Register</h1>
	  <hr class="my-4">
	  <form>
	  	<fieldset>
			  <div class="form-group">
		      	<div nd-show="model.error" class="text-danger">{{model.error}}</div>
		      	<label for="email">Email address</label>
		      	<input type="email" 
		      			class="form-control" 
		      			id="email" 
		      			placeholder="Enter email" 
		      			ng-model="model.maker.email">
		      	<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		      	
	    	</div>

	    	<div class="form-group">
		      	<label for="password">Password</label>
		      	<input type="password" 
  					class="form-control" 
  					id="password" 
  					placeholder="Password" 
  					ng-model="model.maker.password">
	    	</div>
	  	
	  		<div class="form-group">
		      	<label for="password2">Confirm Password</label>
		      	<input type="password" 
  					class="form-control" 
  					id="password2" 
  					placeholder="Confirm Password" 
  					ng-model="model.password2">
	    	</div>

	  		<div class="form-group">
		      	<label for="name">Name</label>
		      	<input type="text" 
  					class="form-control" 
  					id="name" 
  					placeholder="Full name" 
  					ng-model="model.maker.name">
	    	</div>

	  		
	  		<button type="submit" class="btn btn-success" ng-click="model.registerMaker(model.maker, model.password2)">register</button>
	  		<a class="btn btn-danger" href="#!/" role="button">Cancel</a>
	  	</fieldset>
	  </form>
	</div>
</div>