<!-- navbar -->
<!-- 	<div class="sticky-nav-top">
		<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
	  <a class="navbar-brand text-warning" href="#"><img src="../../img/logo/wecan.png" class="menu-logo"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarColor01">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/allEvents">Events</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/login" ng-show="!model.loggedMaker">Login</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="" ng-click="model.logout()" ng-show="model.loggedMaker">Logout</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link text-warning" href="#!/profile" ng-show="model.loggedMaker">Profile</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/contact">Contact</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/about">About</a>
	      </li>
	    </ul>
	  </div>
	</nav>
		
	</div> -->
<!--  end of the nav bar -->


<!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html"><img class="menu-logo" src="./img/logo/joeLogo.png"> </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#!/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/allEvents">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/login" ng-show="!model.loggedMaker">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" ng-click="model.logout()" ng-show="model.loggedMaker">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="#!/profile" ng-show="model.loggedMaker">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/contact">Contact</a>
            </li>
            
           
            
          </ul>
        </div>
      </div>
    </nav>
<!-- /Navigation -->







<!-- new event main -->
<div class="container aws-margin10" ng-show="model.newEventMain">
	<div class="row">
		<!-- <div class="col-3"  style="overflow-y: scroll; height:400px;" >
			<h3>Events List</h3>
			<hr>
			<div class="row">
				<div class="col-9"> 
					<p>Name</p> 
				</div>

				<div class="col-3"> 
					<p>Edit</p>
				</div>
			</div>
			<div class="row" ng-repeat="event in model.eventsList">
				<div class="col-10"> <p>{{event.name}}</p> </div>
				<div class="col-2"> <p><a href="#!/makerProfile/editEvent"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a></p> </div>	
			</div>
		</div>
		<div class="col-1"></div> -->
		<div class="col-12">
			<h1>New Event</h1>

			<div class="form-group">
				<form>
					<fieldset>
				    <legend>New Event:</legend>

					<div class="form-group">
						<label for="eventName">Event Name:</label>
						<input class="form-control" type="text" name="eventName" id="eventName" ng-model="newEvent.name">
				    </div>


				    <div class="form-group">
						<label for="category">Category:</label>
						<input class="form-control" type="text" name="category" id="category" ng-model="newEvent.category">
					</div>

					<div class="form-group">
						<label for="subcategory">Sub-Category:</label>
						<input class="form-control" type="text" name="subcategory" id="subcategory" ng-model="newEvent.subcategory">
					</div>

					<div class="form-group">
						<label for="details">Details:</label>
						<textarea class="form-control" rows="4" cols="50" name="details" id="details" ng-model="newEvent.details"></textarea>
					</div>

					<div class="form-group">
						<label for="startingDate">Starting Date:</label>
						<input type="date" class="form-control" rows="4" cols="50" name="startingDate" id="startingDate" ng-model="newEvent.startingDate">
					</div>

					<div class="form-group">
						<label for="expiryDate">End Date:</label>
						<input type="date" class="form-control" rows="4" cols="50" name="expiryDate" id="expiryDate" ng-model="newEvent.expiryDate">
					</div>

					<div>
						<div class="weekDays-selector">
						  <input type="checkbox" id="weekday-sat" class="weekday" ng-model="daysOfWeek.Sat"/>
						  <label for="weekday-sat">Sat</label>
						  <input type="checkbox" id="weekday-sun" class="weekday" ng-model="daysOfWeek.Sun"/>
						  <label for="weekday-sun">Sun</label>
						  <input type="checkbox" id="weekday-mon" class="weekday" ng-model="daysOfWeek.Mon"/>
						  <label for="weekday-mon">Mon</label>
						  <input type="checkbox" id="weekday-tue" class="weekday" ng-model="daysOfWeek.Tue"/>
						  <label for="weekday-tue">Tue</label>
						  <input type="checkbox" id="weekday-wed" class="weekday" ng-model="daysOfWeek.Wed"/>
						  <label for="weekday-wed">Wed</label>
						  <input type="checkbox" id="weekday-thu" class="weekday" ng-model="daysOfWeek.Thu"/>
						  <label for="weekday-thu">Thi</label>
						  <input type="checkbox" id="weekday-fri" class="weekday" ng-model="daysOfWeek.Fri"/>
						  <label for="weekday-fri">Fri</label>
						</div>
					</div>




					<div class="form-group">
						<label for="price">Price:</label>
						<input type="text" class="form-control" rows="4" cols="50" name="price" id="price" ng-model="newEvent.price">
					</div>


					<div class="form-group">
						<label for="img750x450">Image source 750x450:</label>
						<input type="text" class="form-control" rows="4" cols="50" name="img750x450" id="img750x450" ng-model="newEvent.images.img750x450">
					</div>

					<div class="form-group">
						<label for="img1200x300">Image source 1200x300:</label>
						<input type="text" class="form-control" rows="4" cols="50" name="img1200x300" id="img1200x300" ng-model="newEvent.images.img1200x300">
					</div>


					<!-- <button type="button" name="create" class="btn btn-primary" ng-click="model.createEvent(newEvent)">Create</button> -->
					<button type="button" name="createEvent" class="btn btn-primary" ng-click="model.createEventDetails(newEvent, daysOfWeek)">Create Details</button>


					</fieldset>

				</form>
			</div>
		</div>
	</div>

</div>


<!--  Program Details -->
<div class="container aws-margin10" ng-show="model.newEventProgramDetails">
	<div class="row">
		<div class="col-12">
			<h1>Program Details Day By Day</h1>
			<div class="form-group">
				<form>
					<fieldset>
						<legend>Program Details:</legend>
						<div>
							<div style="margin-left: 50px;" class="form-group" ng-repeat="day in model.newEvent.eventDays">
								<label style="background-color: lightgreen;"><b>Day: </b>{{day}}</label>
								<input type="text" class="form-control" placeholder="program Title" ng-model="model.newEvent.programDailyDetails[day].title" style="margin-bottom: 3px;">
								<textarea class="form-control" style="border-left: 5px; border-style: solid; border-left-color: red; margin-bottom: 3px;" rows="4" cols="50" ng-model="model.newEvent.programDailyDetails[day].details">Program details</textarea>
								<input type="text" class="form-control" placeholder="link for video" ng-model="model.newEvent.programDailyDetails[day].videoLink">
								<br>
							</div>
						</div>
						<button type="button" name="createDetails" class="btn btn-primary" ng-click="model.createEvent(model.newEvent)">Create</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>

		



