<!-- navbar -->
<!-- 	<div class="sticky-nav-top">
		<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
	  <a class="navbar-brand text-warning" href="#"><img src="../../img/logo/wecan.png" class="menu-logo"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarColor01">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/allEvents">Events</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/login" ng-show="!model.loggedMaker">Login</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="" ng-click="model.logout()" ng-show="model.loggedMaker">Logout</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link text-warning" href="#!/profile" ng-show="model.loggedMaker">Profile</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/contact">Contact</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/about">About</a>
	      </li>
	    </ul>
	  </div>
	</nav>
		
	</div> -->
<!--  end of the nav bar -->


<!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html"><img class="menu-logo" src="./img/logo/joeLogo.png"> </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#!/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/allEvents">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/login" ng-show="!model.loggedUser">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" ng-click="model.logout()" ng-show="model.loggedUser">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="#!/profile" ng-show="model.loggedUser">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/contact">Contact</a>
            </li>
            
           
            
          </ul>
        </div>
      </div>
    </nav>
<!-- /Navigation -->








<div class="container aws-margin10">
	<div class="row">
		<div class="col-3"  style="overflow-y: scroll; height:400px;" >
			<!-- Left side -->
			<h3>Events List</h3>
			<hr>
			<div class="row">
				<div class="col-10"> 
					<h5>Name</h5> 
				</div>

				<div class="col-2"> 
					<h5>Edit</h5>
				</div>
			</div>
			<div class="row" ng-repeat="event in model.eventsList">
				<div class="col-10"> <h5>{{event.name}}</h5> </div>
				<div class="col-2"> <h5><a href="#!/makerProfile/editEvent"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></h5> </div>	
			</div>
		</div>
		<div class="col-1"></div>
		<div class="col-8">
			<!-- Right side -->
			<h1>New Event</h1>

			<div class="form-group">
				<form>
					<fieldset>
				    <legend>New Event:</legend>

					<div class="form-group">
						<label for="eventName">Event Name:</label>
						<input class="form-control" type="text" name="eventName" id="eventName" ng-model="newEvent.name">
				    </div>


				    <div class="form-group">
						<label for="category">Category:</label>
						<input class="form-control" type="text" name="category" id="category" ng-model="newEvent.category">
					</div>

					<div class="form-group">
						<label for="subcategory">Sub-Category:</label>
						<input class="form-control" type="text" name="subcategory" id="subcategory" ng-model="newEvent.subcategory">
					</div>

					<div class="form-group">
						<label for="details">Details:</label>
						<textarea class="form-control" rows="4" cols="50" name="details" id="details" ng-model="newEvent.details"></textarea>
					</div>

					<div class="form-group">
						<label for="startingDate">Starting Date:</label>
						<input type="date" class="form-control" rows="4" cols="50" name="startingDate" id="startingDate" ng-model="newEvent.startingDate">
					</div>

					<div class="form-group">
						<label for="expiryDate">End Date:</label>
						<input type="date" class="form-control" rows="4" cols="50" name="expiryDate" id="expiryDate" ng-model="newEvent.expiryDate">
					</div>

					<div class="form-group">
						<label for="image750x450">Image source 750x450:</label>
						<input type="text" class="form-control" rows="4" cols="50" name="image750x450" id="image750x450" ng-model="newEvent.images.image750x450">
					</div>

					<div class="form-group">
						<label for="image1200x300">Image source 1200x300:</label>
						<input type="text" class="form-control" rows="4" cols="50" name="image1200x300" id="image1200x300" ng-model="newEvent.images.image1200x300">
					</div>


					<button type="button" name="create" class="btn btn-primary" ng-click="model.createEvent(newEvent)">Create</button>

					</fieldset>

				</form>
			</div>
		</div>
	</div>
	

	
	<br>
	<hr>
	
</div>