<!-- navbar -->
	<!-- <div class="sticky-nav-top">
	<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
	  <a class="navbar-brand text-warning" href="#"><img src="../../img/logo/wecan.png" class="menu-logo"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarColor01">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/allEvents">Events</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/login" ng-show="!model.loggedMaker">Login</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="" ng-click="model.logout()" ng-show="model.loggedMaker">Logout</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link text-warning" href="#!/profile" ng-show="model.loggedMaker">Profile</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/contact">Contact</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/about">About</a>
	      </li>
	    </ul>
	  </div>
	</nav>
		
	</div> -->
<!--  end of the nav bar -->







<!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html"><img class="menu-logo" src="./img/logo/joeLogo.png"> </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#!/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/allEvents">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/login" ng-show="!model.loggedMaker">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" ng-click="model.logout()" ng-show="model.loggedMaker">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="#!/profile" ng-show="model.loggedMaker">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/contact">Contact</a>
            </li>
            
           
            
          </ul>
        </div>
      </div>
    </nav>
<!-- /Navigation -->




<div class="container aws-margin10">
<!-- 	<ng-include 
		src="'../../views/htmlComponents/eventsListComponent/makerEventsList-component.view.client.html'">
	</ng-include> -->

	<h2 ng-cloak>Event Maker Name: {{model.loggedMaker.name.firstName}} {{model.loggedMaker.name.middleName}} {{model.loggedMaker.name.lastName}}</h2>
	<h4>Events List: </h4>

	<table id="t01">
	  <tr>
	    <th>Name</th>
	    <th>Category</th> 
	    <th>Sub-Category</th>
	    <th>Created</th>
	    <th>Members</th>
	    <th>Edit</th>
	    <th>Remove</th>


	  </tr>
	  <tr ng-repeat="event in model.eventsList">
	    <td>{{event.name}}</td>
	    <td>{{event.category}}</td>
	    <td>{{event.subcategory}}</td>
	    <td>{{event.created | date}}</td>
	    <td>{{event.registeredMembers.length}}</td>
	    <td><a href="#!/makerProfile/editEvent"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a></td>
	    <td><a href="" ><span class="fa fa-trash-o" aria-hidden="true"></span></a></td>
	  </tr>
	</table>

	<!-- <div class="row">
		<div class="col-3"> <h5>Name</h5> </div>
		<div class="col-2"> <h5>Category</h5> </div>
		<div class="col-2"> <h5>Sub-Category</h5> </div>
		<div class="col-2"> <h5>Created</h5> </div>
		<div class="col-1"> <h5>Edit</h5> </div>
		<div class="col-1"> <h5>Remove</h5> </div>
	</div>
	<hr>	
	<div class="row" ng-repeat="event in model.eventsList">
		<div class="col-3"> <h5 ng-cloak>{{event.name}}</h5> </div>
		<div class="col-2"> <h5 ng-cloak>{{event.category}}</h5> </div>
		<div class="col-2"> <h5 ng-cloak>{{event.subcategory}}</h5> </div>
		<div class="col-2"> <h5 ng-cloak>{{event.created | date}}</h5> </div>
		<div class="col-1"> <h5><a href="#!/makerProfile/editEvent"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a></h5></div>
		<div class="col-1" ng-click="model.removeEvent(event.makerId, event._id)"> <h5><a href="" ><span class="fa fa-trash-o" aria-hidden="true"></span></a></h5> </div>

	</div> -->

</div>